<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>F.A.Q.</title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
	</head>
	<body>
		<a href="/"><img src="{{url_for('static', filename='arrow.png')}}"></a>
		<div class="content">
			<h1 class="title">F.A.Q</h1>
			<h2>Насколько большой текст можно сократить?</h2>
			<p>Ограничение на размер текста = 10000 символов.</p>

			<h2>Какие требования к входному тексту?</h2>
			<p>В тексте должно быть больше одного предложения.</p>

			<h2>Как происходит суммаризация?</h2>
			<p>Для каждого предложения вычисляется показатель значимости. Выбирается N самых значимых предложений</p>

			<h2>От чего зависит качество суммаризации?</h2>
			<p>Качество зависит от текста.</p>

			<h2>Что может снизить качество суммаризации?</h2>
			<p>Существует множество факторов, влияющих на качество. Например большое количество "стоп-слов" (ты, я, что, не, когда, теперь и т.д.) приводит к потере значимой информации и снижает качество саммари.</p>

			<h2>Существует ли пример "хорошего" текста?</h2>
			<p>В качестве "хорошего" текста можно рассмотреть описание сюжета 1 серии фильма "Ирония судьбы, или С лёгким паром!" на <a href="https://ru.wikipedia.org/wiki/Ирония_судьбы,_или_С_лёгким_паром!" target="_blank">википедии</a>. Алгоритм "TextRank" с параметром 8 предложений сокращает исходный текст в 388 слов до 178 слов, теряя при этом немного важной информации из последнего абзаца. </p>
			<h2>Где можно узнать больше про используемые алгоритмы?</h2>
			<p>В оригинальных статьях: </p>
			<a href="https://www.aaai.org/Papers/JAIR/Vol22/JAIR-2214.pdf">LexRank: Graph-based Lexical Centrality as Salience in Text Summarization</a><p></p>
			<a href="https://web.eecs.umich.edu/~mihalcea/papers/mihalcea.emnlp04.pdf">TextRank: Bringing Order into Texts</a>
		</div>
	</body>
</html>
